<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h1>Bookmark Manager</h1>

<form action='/bookmarks'>
  <button name="my_bookmarks" type="submit">My Bookmarks</button>
</form>

<form action="/add_bookmark" method="post">
  <input type="text" name="new_bookmark_url"><br><br>
  <input type="submit" value="Add Bookmark">
</form>



</body>
</html>